name: Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.head_ref || github.run_id }}{% endraw %}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  tests:
    runs-on: {% raw %}${{ matrix.os }}{% endraw %}

    strategy:
      matrix:
        os: ["ubuntu-latest"]
        python-version: [
          {%- for version in cookiecutter._all_python_versions
                if (version.rstrip('t').split('.')|map('int')|list) >= (cookiecutter.target_python_version.rstrip('t').split('.')|map('int')|list) -%}
          "{{ version }}"{% if not loop.last %}, {% endif %}
          {%- endfor %}]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python {% raw %}${{ matrix.python_version }}{% endraw %}
        uses: actions/setup-python@v6
        with:
          python-version: {% raw %}${{ matrix.python_version }}{% endraw %}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install hatch pre-commit
          hatch env create
      - name: Lint
        run: |
          hatch run lint
      - name: Typecheck
        run: |
          hatch run typecheck
      - name: Run Tests
        run: |
          hatch run cov
